# -*- coding: utf-8 -*-
AMQP_EXCHANGE = "{{ amqp_exchange | default('flamingo') }}"
AMQP_PORT = "{{ amqp_port | default(5672) }}"
AMQP_USER = "{{ amqp_user }}"
AMQP_VHOST = "{{ amqp_vhost }}"
AMQP_TIMEOUT = "{{ amqp_timeout }}"
AMQP_HOST = "{{ amqp_host }}"
AMQP_PASS = "{{ amqp_pass }}"

LOG_LEVEL = "{{ log_level }}"
